.highlight {color: #000; font-weight: bold;
text-shadow: #C7A570 1px 1px 0px;
border-radius: 10px;
-webkit-border-radius: 10px;
-moz-border-radius: 10px;
box-shadow: #333 2px 2px 5px;
-webkit-box-shadow: #333 2px 2px 5px;
-moz-box-shadow: #333 2px 2px 5px;
}
.highlight .c{font-style:italic;}
.highlight .err{background-color:#e3d2d2;}
.highlight .k{font-weight:bold;}
.highlight .o{font-weight:bold;}
.highlight .cm{font-style:italic;}
.highlight .cp{font-weight:bold;}
.highlight .c1{font-style:italic;color:#333;}
.highlight .cs{font-weight:bold;font-style:italic;}
.highlight .gd{background-color:#fdd;}
.highlight .gd .x{background-color:#faa;}
.highlight .ge{font-style:italic;}
.highlight .gr{}
.highlight .gh{}
.highlight .gi{background-color:#dfd;}
.highlight .gi .x{background-color:#afa;}
.highlight .go{}
.highlight .gp{}
.highlight .gs{font-weight:bold;}
.highlight .gu{font-weight:bold;}
.highlight .gt{}
.highlight .kc{font-weight:bold;}
.highlight .kd{font-weight:bold;}
.highlight .kp{font-weight:bold;}
.highlight .kr{font-weight:bold;}
.highlight .kt{font-weight:bold;}
.highlight .m{}
.highlight .s{}
.highlight .na{}
.highlight .nb{}
.highlight .nc{font-weight:bold;}
.highlight .no{}
.highlight .ni{}
.highlight .ne{font-weight:bold;}
.highlight .nf{font-weight:bold;}
.highlight .nn{}
.highlight .nt{}
.highlight .nv{}
.highlight .ow{font-weight:bold;}
.highlight .w{}
.highlight .mf{}
.highlight .mh{}
.highlight .mi{}
.highlight .mo{}
.highlight .sb{}
.highlight .sc{}
.highlight .sd{}
.highlight .s2{}
.highlight .se{}
.highlight .sh{}
.highlight .si{}
.highlight .sx{}
.highlight .sr{}
.highlight .s1{}
.highlight .ss{}
.highlight .bp{}
.highlight .vc{}
.highlight .vg{}
.highlight .vi{}
.highlight .il{}
.type-csharp .highlight .k{}
.type-csharp .highlight .kt{}
.type-csharp .highlight .nf{font-weight:normal;}
.type-csharp .highlight .nc{}
.type-csharp .highlight .nn{}
.type-csharp .highlight .s{}
.type-csharp .highlight .sc{}
