html,body{margin:0;padding:0}
body{
    font: 14px;
    text-align: center;
    background: #fff;
    padding-bottom:20px;
}
h1,h2,h3 {color:#333;}
img {border:0;}
a { color: #0066B3; background: inherit; text-decoration: none;}
#wrapper{width:768px;margin:0px auto;}
#header{
    position:relative;
    width:100%;
    overflow:hidden;
    background: #333;
    text-align:left;
}
#header h1 {
    padding:0px 20px 0 10px;
    font-weight:bolder;
    font-size:100px;
    line-height:100px;
    margin:0 0 -9px 0;
    letter-spacing:-14px;
    color: #fff;
    float:left;
}
.nav-icons {
    float:left;
    position:absolute;
    top:16px;
    right:20px;
}
.nav-icons a.main {
    margin:0 10px 0 0;
}
.nav-icons a.main img {
    height:36px;
}
.nav-icons p {
    margin:0;
    padding:5px;
}
.nav-icons p.link {
    background:#666;
}
#header .description {color:gray;padding-left:12%;width:40%}

#nav,#nav li{list-style-type:none;margin:0;padding:0}
#nav{float:right;font-size: 80%}
#nav li{float:left;margin-left: 3px;text-align: center}
#nav a{float:left;width: 95px;padding: 5px 0;background: #E7F1F8;text-decoration:none;color: #666; border-top : 1px solid #fff; border-left : 1px solid #fff; border-right : 1px solid #fff;}
#nav a:hover{background:#fff;color: #000;}
#nav .activelink a,#nav .activelink a:hover{background: #FFF;color: #003}

#content {
    font: 95%/1.5 TrebuchetMS,Arial,sans-serif;
    margin: 10px auto;
    background: #fff;
    text-align: left;
    position: relative;
}

#middle {
    margin: 0 auto;
    padding: 15px;
    text-align: left;
}

#right {
	text-align: justify;
}
#left {
	float: right;
	width: 21%;
	margin: 0 0 10px 0;
}

.post {
	background: #eee;
	margin-bottom: 10px;
    padding: 10px;
    /*
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    */
}


.box {
	padding: 0.5em;
	margin: 0 0 1em 0;
    border:4px solid #D8EDBB;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}

.post h2, .box h2 {
    font-size:28px;
    padding:0;
    margin:0;
    color:#2D8509;
    border-bottom:1px solid #D8DBBC;
}

.date {
    font-size:12px;
    color:black;
}
