{% extends "snippet/base.html" %}

{% block style %}
<style type="text/css">
body, pre {
    padding: 0;
    margin: 0;
}
.highlight pre {
    background-image: url('{{STATIC_URL}}snippet/images/code-bg.png');
    padding: 20px 20px;
    font-family: 'Bitstream Vera Sans Mono','Courier New',monospace;
    font-size: 18px;
    text-shadow: #C7A570 1px 1px 0px;
    color: black;
    line-height: 2;
    font-weight: bold;
}
{{ object.get_style|safe }}
</style>
{% endblock %}

{% block content %}
{{ object.formatted|safe }}
{% endblock %}
