<html>
    <head>
    </head>
    <body>
        创建新用户：<br/>
        <form method="post">{% csrf_token %}
            <table>
                {{ newuserform.as_table }}
                <tr>
                    <td></td>
                    <td><input type="submit" name="newuser" value="提交"/></td>
                </tr>
            </table>
        </form>
        绑定现有用户：<br/>
        <form method="post">{% csrf_token %}
            <table>
                {{ existuserform.as_table }}
                <tr>
                    <td></td>
                    <td><input type="submit" name="existuser" value="提交"/></td>
                </tr>
            </table>
        </form>
    </body>
</html>
